/*changes background color of whole page*/
#total
{
    background-color: #A3D3D9;
}
/*sets color of the input box to blue color and sets text to large*/
#input
{
    background-color: #D9F3F6;
    font-size: large;
}
/*sets input legend font and changes size to medium*/
#legend1
{
    font-family: sans-serif;
    font-size: medium;
}
/*sets background color of output box to a blue and font size to large*/
#output
{
    background-color: #B8F6E8;
    font-size: large;
}
/*sets output legend font and changes size to medium*/
#legend2
{
    font-family: sans-serif;
    font-size: medium;
}
/*sets color of text in history box to red and changes the font type*/
#history
{
    color: #2D3BAB;
    font-family: serif;    
}